* {
  margin: 0;
}

.leftmenu {
  display: flex;
  flex-direction: column;
  background-color: rgb(11, 222, 250);
  width: 25vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.leftmenu-img {
  border-radius: 50%;
  width: 60%;
}

.leftmenu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline ;
}

body {
  display: flex;
}
.redes-sociais {
  display: flex;
}
.icons {
  width: 60px;
}
.hdata,.descricao,.redes-sociais{
  margin-left: 40px;

}
.hdata{
  margin-top: 30% ;

}
.title {
  margin-bottom: 10px ;
}

.objetivos{
    margin-top: 48%;
    margin-left: 40px;
    align-items: center;
    
}
.conhecimentos{
  margin-left: 40px;
  margin-top: 100%;
}