* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftmenu {
  width: 30vw;
  height: 100vh;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.568), black);
  text-align: center;
  padding-top: 20vh ;

}

.leftmenu-img {
  border-radius: 50%;
  border: 5px solid white;
  width: 15vw;
}

.nome, .titulo {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
}

.infos, .description, .conhecimentos, .objetivos {
  font-family: 'Open Sans', sans-serif;
}


button {
  border-color: #000e0c;
  color: rgb(5, 5, 5);
  box-shadow: 0 0 40px 40px #e7ece7 inset, 0 0 0 0 #111011;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 5px;
  width: 140px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  box-shadow: 0 0 10px 0 #fffffd inset, 0 0 10px 4px #fcfbfa; 
}

button {
  margin-top: 20px;
  font-size: large;
}

body {
  display: flex;
  background-color: rgba(0, 14, 12, 0.103);
}
.redes-sociais {
  margin-top: 2vh;
}

.icons {
  width: 50px;
}

main {
  margin-top: 30vh ;
  margin-left: 2vw;
}

.goals, .knowledge {
  padding-top: 20px ;
  margin-left: 1vw;
  font-size: large;
}

.last-name {
  color: rgb(32, 177, 221);
}

.infos{
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 110px;
  line-height: 15px;
  background-color: rgb(32, 177, 221);
  list-style: none;
}
.infolist {
  margin-top: 10px;
  padding-left: 10px;
}
.aboutme{
  max-width: 67vw;
  font-size: large;

}
.aboutme::first-letter {
  font-size: xx-large
}