* {
  margin: 0;
}

.leftmenu {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.568), black);
  width: 25vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.leftmenu-img {
  border-radius: 50%;
  border: 5px solid white;
  width: 60%;
}

.leftmenu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline ;
}

body {
  display: flex;
}
.redes-sociais {
  display: flex;
}
.icons {
  width: 60px;

}
.hdata,.descricao,.redes-sociais{
  margin-left: 40px;

}
.hdata{
  margin-top: 30% ;

}
.title {
  margin-bottom: 10px ;
}

.objetivos{
    margin-top: 48%;
    margin-left: 40px;
    align-items: center;
    
}
.conhecimentos{
  margin-left: 40px;
  margin-top: 100%;
}
.last-name{
  color: rgb(32, 177, 221);

}
.infos{
  border: 1px solid black;
  width:400px;;

}
span::first-letter {
  font-size: xx-large
}